#Contato{
    height: 598px;
    background-color: #E06D2D;
    text-align: center;
    color: #E06D2D;    
}

#infoContato{
    border-left: 300px solid;
    border-right: 300px solid;
    border-color: #E06D2D;
    background-color: whitesmoke;
    font-size: 25px;
    color: black;
}

#tituloContato{
    font-size: 40px;
    color: #E06D2D;
}

#Nome{
    width: 200px;
}

#Email{
    width: 200px;
}

#Mensagem{
    padding-left: 0;
    padding-top: 0;
    padding-bottom:0.4em;
    padding-right: 0.4em;
    width: 200px;
    height: 100px;
}