#Sobre{
    border-top: 45px solid #E06D2D;
    border-bottom: 45px solid #E06D2D;
    width: auto;
    height: 598px;
    top: auto;
    bottom: auto;
    background-color: whitesmoke;
    color:  #E06D2D;
}

#mdTituloSobre{
    margin-left: 40%;
    font-size: 50px;
    text-align: center;
}

#mdTextSobre{
    width: 500px;
    margin-left: 10px;
    display: inline-block;
    font-size: 35px;
    text-align: center;
}

#imagemSobre{
    margin-left: 25%;
    width: 15%;
}