#Sobre{
    border-top: 45px solid #E06D2D;
    border-bottom: 45px solid #E06D2D;
    width: auto;
    height: 598px;
    top: auto;
    bottom: auto;
    background-color: whitesmoke;
    color:  #E06D2D;
}

#mdTituloSobre{
    margin-left: 40%;
    position: absolute;
    font-size: 50px;
    text-align: center;
}

#mdTextSobre{
    display: inline-block;
    padding-left: 0;
    padding-top: 0;
    padding-bottom:0.4em;
    padding-right: 0.4em;
    width: 300px;
    height: 400px;
    font-size: 30px;
    margin-left: 3%;
}

#imagemSobre{
    margin-top: 100px;
    margin-left: 20%;
    display: inline-block;
    padding-left: 0;
    padding-top: 0;
    padding-bottom:0.4em;
    padding-right: 0.4em;
    width: 400px;
    height: 400px;
}
