attrs
certifi
chardet
Click
cycler
decorator
Flask
flask-ngrok
idna
ipython-genutils
itsdangerous
Jinja2
jsonschema
jupyter-core
kiwisolver
MarkupSafe
matplotlib
nbformat
ngrok
numpy
plotly
pyparsing
pyrsistent
python-dateutil
pytz
requests
retrying
six
traitlets
urllib3
Werkzeug
WTForms
